@charset "utf-8";

.inner{width:100%; max-width: 1440px; margin:0 auto}

/* layout */
.wrap{position:relative; width:100%;}

/*header*/

#header{width:100%}
#header .logo{
    width:80px;
}

#header .nav{
   
}
/* nav*/
#nav{position: fixed;
    z-index: 2;
    width:100%;
    
}
#nav .inner{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    color:#F24D6C
}

#nav .nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap:wrap;
    
}

#nav .login{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#nav .main_nav{ 
    font-weight: 800;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: center;
}

#nav .main_nav a{
                padding: 0 20px ;}

 #nav .fran{position:relative;
            top: -10px}

 #nav .fran img{
    padding-top:15px;
    width:80%; 
    height:75%
}

#nav .fran > p > a{color:#F24D6C}

#nav .main_nav > a > p{
  font-weight: 800;
}

#nav .logo img{
    width:85%
}

#nav p{padding: 0 10px}    

#nav h2{display: block;}

#nav .main_nav > li{position: relative;
    text-align: center;}
#nav .main_nav > li > a{border-bottom: 3px solid transparent; padding-bottom: 5px;
}
#nav .main_nav > li:hover > a{border-bottom-color:#F9A5AF}
#nav .main_nav > li:hover .main_nav2{
    display: flex;}  

#nav .main_nav2 {
        font-weight:500;
        font-size:1em;
        position: absolute;
        width: 200px;
        left:50%;
       transform: translate(-50%, 0);
       /* background-color: aquamarine;*/
      /*  display: flex; */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
        margin-top: 10px;
     }

     #nav .main_nav2 a{
            margin-top: 10px;

     }
   
    #nav .main_nav2 > li{
            width:100%; 
            padding:20px 10px;
            box-sizing: border-box;
            text-align: center;
        }

        #nav .main_nav2 ul a:hover{
            text-decoration: underline;
            }
        
            #nav .main_nav2 > li:hover a{
                color:#F9A5AF
            }
     

/*픽스 시행 후 */
#nav.fix1{
}

#nav.fix2{
    background-color: #ffff;

}

/*section1*/
#section1{margin-bottom:20px}
#section1 img{width:100%}                

/*section2*/
#section2 {
    width: 100%;
    margin-top:50px;
    margin-bottom:150px
}

#section2 .menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

#section2 .tabs{
display:flex;
flex-direction: column;
position:absolute;
font-weight: 800;
font-size:1.8em;
top:20%
    
}

#section2 .panels{
    margin:auto;
position:relative
}
#section2 .panel{display:none}


#section2 .panel .menu1{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#section2 .panel .menu1 img{
    width: 70%;
    position:static;
    top:100%;
    left:-20%;
    opacity: 80%;
    transform: translate(20%, 50%);
}

#section2 .back{width:100%;
    background: url(../images/back1.jpg) no-repeat;
    background-size: 90%;
    background-position: 80px 180px;
}

#section2 .back2{width:100%;
    background: url(../images/de.png) no-repeat;
    background-size: 90%;
    background-position: 80px 180px;
}

#section2 .back3{width:100%;
    background: url(../images/de.jpg) no-repeat;
    background-size: 90%;
    background-position: 80px 180px;
}

#section2 .tabs a:hover{
   color:#F24D6C
    }
    

#section2 .tabs a{
    width: 100%;
    font-weight:800px;
    font-size: 1.5em;
    padding: 10px 10px;
    
}


    #section2 .sec2_right{
        width:calc(135% - 50px);
        margin-left:50px;
        padding-left:50px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:right;
        align-items: center;
    }

 #section2 .sec2_right .img_box1,
 #section2 .sec2_right .img_box2,
 #section2 .sec2_right .img_box3
 {
     width:250px;
     position:relative; 
     border-radius:90px;
     overflow: hidden;
      }

     #section2 .sec2_right .img_box1_txt,
     #section2 .sec2_right .img_box2_txt,
     #section2 .sec2_right .img_box3_txt
        {
        text-align: center;
       font-size: 1.8rem;
       font-weight: 800;
       font: bold;
       top:25%;
       padding-left:50px;
       transform: translate(-30%, 35%);
       color:#F24D6C
     }
    

    #section2 .sec2_right .img_box1:first-child,
    #section2 .sec2_right .img_box2:first-child,
    #section2 .sec2_right .img_box3:first-child{
        border-radius: 0;
        border: 1px solid  #F24D6C
        }
        
    #section2 .sec2_right .img_box1:nth-child(1),
    #section2 .sec2_right .img_box1:nth-child(2),
    #section2 .sec2_right .img_box2:nth-child(1),
    #section2 .sec2_right .img_box2:nth-child(2),
    #section2 .sec2_right .img_box3:nth-child(1),
    #section2 .sec2_right .img_box3:nth-child(2)
    {margin-bottom:50px}


    #section2 .sec2_right .img_box1:nth-child(2) .img1{
        background-image: url(../images/coffe1.png);
        background-size: 100%;
       }
    #section2 .sec2_right .img_box1:nth-child(3) .img1{
        background-image: url(../images/coffe2.png);
        background-size: 100%;
       }
    #section2 .sec2_right .img_box1:nth-child(4) .img1{
        background-image: url(../images/coffe3.png);
        background-size: 100%;
      }

      #section2 .sec2_right .img_box2:nth-child(2) .img2{
        background-image: url(../images/cake1.png);
        background-size: 100%;
       }

     #section2 .sec2_right .img_box2:nth-child(3) .img2{
        background-image: url(../images/cake2.png);
        background-size: 100%;
       }

      #section2 .sec2_right .img_box2:nth-child(4) .img2{
        background-image: url(../images/cake3.png);
        background-size: 100%;
        }

        #section2 .sec2_right .img_box3:nth-child(2) .img3{
            background-image: url(../images/md2.png);
            background-size: 100%;
           }
    
         #section2 .sec2_right .img_box3:nth-child(3) .img3{
            background-image: url(../images/md3.png);
            background-size: 100%;
           }
    
          #section2 .sec2_right .img_box3:nth-child(4) .img3{
            background-image: url(../images/md4.png);
            background-size: 100%;
            }

    #section2 .sec2_right .img_box1 span,
    #section2 .sec2_right .img_box2 span,
    #section2 .sec2_right .img_box3 span{
        font-size: 1.5em;
        font-weight: 500px;
        position:absolute;
        left: 40%;
        top: 80%;
        color:#F24D6C;
        transform:translate(-30%, 50%)
        }

        
        #section2  .img_box1 a{display:block;}

        #section2  .img_box1:hover,
        #section2  .img_box2:hover,
        #section2  .img_box3:hover
        {
         background-color: #F9A5AF;
           }

#section2 .sec2_right .img1{
            background: url(../images/coffe.png) no-repeat;
            width:250px;
            height: 250px;
                  }
                  #section2 .sec2_right .img2{
                    background: url(../images/coffe.png) no-repeat;
                    width:250px;
                    height: 250px;
                  }
                  #section2 .sec2_right .img3{
                    background: url(../images/coffe.png) no-repeat;
                    width:250px;
                    height: 250px;
                  }


/*section3*/
#section3 img{
width:100%
}

/*section4*/
#section4{position: relative;
height: 390px;}

#section4 .banner{

    height: 100%;
    overflow: hidden;
    background: url(../images/f.jpg) center no-repeat;
    background-size: 100% 95%;
    background-position: cover;
    background-attachment: fixed;

}
  


/*section5*/

#section5{
    position: relative;
    margin-top:80px;
    margin-bottom:80px;
    left:15px
}

#section5 h2{
    position: relative;
    text-align: center;
    border: 1px solid red;
    margin:75px auto;
    width: 15%;
    padding:15px;
    border-radius: 30px;
}

#section5 .sns_width{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top: 70px;
    margin-bottom:45px;
    width:100%;
}

#section5 .sns_box{
    width: 300px;
    font-weight: 800;
    position: relative;
    font-size: 1.5em;
    color:#F24D6C;
}

#section5 .sns1{
    background: url(../images/blog.png) no-repeat;
    width:300px;
    height:300px;
    border-radius: 55px;
    background-size: cover;
    overflow: hidden;
}

    #section5 .sns_width .sns_box:nth-child(2) .sns1{
        background-image: url(../images/face.png);
    
    }
    #section5 .sns_width .sns_box:nth-child(3) .sns1{
        background-image: url(../images/instar2.png);
       
    }
    #section5 .sns_width .sns_box:nth-child(4) .sns1{
        background-image: url(../images/blog.png);
       
    }

#section5 .sns_width > div{
    justify-content: space-between;
    text-align: center; 
    width:calc((100% - 20px*3)/4);
}

#section2 .menu_tittle{position:absolute;
    font-size:1.9em;
    color:black;
    display:block}

#section5 .sns_box .sns_a:hover .sns1{
    background: linear-gradient(to right, rgba(251,131,250,0.3) 0%,rgba(248,121,248,0.3) 14%,rgba(244,105,245,0.3) 37%,rgba(240,89,242,0.3) 59%,rgba(238,80,240,0.3) 72%,rgba(233,60,236,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity:100%;
}

#section5 .sns_a a{display: block;}

#section5 .sns_width .sns_box span{
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%)
}

#section5 .news_width{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px
    }

#section5 .news_width  a{display:block;
margin: auto;}
#section5 .news_width  a:hover  .news_txt{color:#F9A5AF}

#section5 .new > p{
  text-align: center;
}

#section5 .news_width .news_txt{
    margin-top: 60px;
    font-weight: 500;
    font-size: 1.2em;
    color:black;
    
}

/* footer */
footer{
    font-weight: 500;
    font-size: medium;
    width:100%;
    background-color: #F24D6C;
}

footer .inner{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

footer .txt{
    width:100%;
    margin:20px 0;
    color:#ffff
    }

footer .txt > p{
        margin:10px 10px;
        }

footer .footer_right{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width:40%
    }
      
footer .footer_right .pp{
        margin-bottom:25px;
        color:#ffff
    }

footer  .inner .footer_right .pp a{
        justify-content: space-between;
        padding:10px;
        width:calc((100% - 20px * 2) / 3);
    }

footer  .a{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 30px
    }

 footer .a img{
}



/*a가 움직이지 않게 하는 코드 */

@media all and(max-width: 1600px;){

}/* 1600px*/

@media all and(max-width: 1150px;){

}/* 1150px*/

